version: "3.9"

services:
  mongo:
    container_name: mongodb
    image: mongo:latest
    restart: unless-stopped
    logging: 
      driver: none
    ports:
      - 27017:27017
    volumes: 
      - mongo_data:/data/db
    networks:
      - teklif-net

  mongo-express:
    image: mongo-express
    restart: always
    networks:
      - teklif-net
    depends_on: 
      - mongo
    ports:
      - 8081:8081

# API NODE EXPRESS
  express:
    container_name: express
    build:
      context: ./server
    user: "node"
    ports:
      - '3001:3001'
    volumes:
      - ./server:/usr/src/app
      - ./server/node_modules:/usr/src/app/node_modules
    environment:
      NODE_ENV: development
      MONGODB_URI: mongodb://mongo:27017/app_db
      DB_NAME: app_db
    depends_on:
      - mongo
    command:
      - nodemon
      - index.js
    networks:
      - teklif-net

# REACT FRONT END
  react:
    container_name: react
    stdin_open: true
    user: "node"
    environment:
      - CHOKIDAR_USEPOLLING=true
    build:
      dockerfile: Dockerfile
      context: ./react
    ports:
      - "3005:3005"
    volumes:
      - ./react/node_modules:/app/node_modules
      - ./react:/app
    networks:
      - teklif-net

networks:
  teklif-net:
    driver: bridge





volumes:
  mongo_data: {}